{% extends 'base.html' %}
{% block content %}
    {% from 'macros.html' import form_field %}
    <form method="post">
        {{ form.csrf_token }} <!-- 渲染CSRF令牌隐藏字段 -->
{#        {{ form.username.label }}{{ form.username }}#}
{#        {% for message in form.username.errors %}#}
{#            <small class="error">{{ message }}</small>#}
{#        {% endfor %}<br>#}
{#        {{ form.password.label }}{{ form.password }}#}
{#        {% for message in form.password.errors %}#}
{#            <small class="error">{{ message }}</small>#}
{#        {% endfor %}<br>#}
        {{ form_field(form.username) }}
        {{ form_field(form.password) }}
        {{ form.remember }}{{ form.remember.label }}<br>
        {{ form.submit }}<br>
    </form>
{% endblock %}